body
{
	background-color:#000;
}

#gameBoard
{
	background-color:#8a8a8a;	
	width:320px;
	height:640px;
	margin:0 auto;
	border: 2px solid #6e6e7b;
}

#score
{
	font-size: 18pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}

p
{
	font-size: 14pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}